html,
body {
  height: 100%;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



#container .column {
  width: 50%;
}

.App {
  height: 380px;
  font-family: sans-serif;
  text-align: center;
}

.board {
  margin: 0 auto;
  display: table;
  border: #282828 5px solid;
  background: #333333;
}

.board-row {
  display: table-row;
}

.cell {
  display: table-cell;
  width: 4px;
  height: 4px;
}
